body {
    background-image: url("pz.jpg");
    background-size: 100vmax;
    background-repeat: round;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* cursor: pointer; */
}

/* 
.item{
    width: 20px;
    height: 20px;
    background-color: burlywood;
    position: relative;
} */

.profile-container {
    color: white;
    background-color: aquamarine;
    width: 445px;
    height: 400px;
    user-select: none;
    border: 2px solid gray;
    position: absolute;
}

.upper-bar {
    background-color: blueviolet;
    width: 445px;
    height: 16px;
    display: flex;
    position: relative;
}

.close-upper-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    color: black;
    line-height: 0.65rem;
    background-color: rgb(231, 231, 231);
    width: 14px;
    height: 14px;
    margin-left: 0.2rem;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    border: 1px solid black;
}

.upper-bar-arrow {
    background-color: blue;
    width: 14px;
    height: 14px;
    margin: auto 0.2rem auto auto;
    cursor: pointer;    
}

.profile-options {
    background-color: brown;
    width: 445px;
    height: 22px;
    display: flex;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.char-line-options {
    padding: 0 5px 0 5px;
    width: fit-content;
    height: inherit - 1px;
    border-right: 1px solid black;
    margin-right: -1px;
    padding-top: 2px;
}

.char-container {
    font-size: 0.75rem;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(168, 167, 167), rgb(92, 92, 92));
    float: left;
    width: 126px;
    height: 260px;
    margin: 25px 25px 15px 25px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* .char-img {
    margin-left: auto;
    margin-right: auto;
} */

.char-container::after {
    content: '';
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    position: absolute;
    border: 2px solid gray;
}



.char-info-container {
    background-color: darkslategrey;
    width: 240px;
    height: 260px;
    float: left;
    margin: 25px 25px 0 0;
}

.char-name {
    float: left;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid white;
    /* background-color: cornflowerblue; */
    width: fit-content;
}

.profession-img {
    width: 50px;
    height: 50px;
    background-color: darkkhaki;
    float: right;
    margin-top: 0;
    padding-top: 0;
}

.profile-key-field {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
    width: 45px;
    /* background-color: deeppink; */
    margin-bottom: 5px;
}

.weight-field {
    margin-top: 40px;
    width: 120px;
    height: 20px;
    /* background-color: tomato; */
    display: flex;
    gap: 10px;
}
.weight-key {
    text-align: right;
    /* background-color: red; */
}

.weight-value{
    color: darkgray;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    width: 45px;
    /* background-color: darkslateblue; */
}

.trait-field {
    width: 240px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.trait-key {
    text-align: right;
}

.trait-value {
    width: 20px; /* Currently working as one single trait */
    height: 20px; /* Currently working as one single trait */
    background-color: darkturquoise;
}

.hair-field {
    width: 240px;
    height: fit-content;
    /* background-color: tomato; */
    display: flex;
    gap: 10px;
    position: relative;
}

.hair-key {
    text-align: right;
    /* background-color: red; */
}

.hair-value {
    color: darkgray;
    font-size: 0.75rem;
    font-weight: bold;
    width: fit-content;
    /* background-color: midnightblue; */
}

.hair-button {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 8px 0 8px;
    background-color: indigo;
    margin-left: 15px;
    position: absolute;
    right: 10px;
    border: 1px solid gray;
}

.beard-field {
    width: 240px;
    height: fit-content;
    /* background-color: chartreuse; */
    display: flex;
    gap: 10px;
    position: relative;
}

.beard-key {
    text-align: right;
    /* background-color: red; */
}

.beard-value {
    color: darkgray;
    font-size: 0.75rem;
    font-weight: bold;
    width: fit-content;
    /* background-color: midnightblue; */
}

.beard-button {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 8px 0 8px;
    background-color: indigo;
    position: absolute;
    right: 10px;
    border: 1px solid gray;
}

.know-materials {
    padding: 0 3px;
    width: fit-content;
    margin-top: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    border: 1px solid white;
}

.bottom-info-container {
    font-size: 0.75rem;
    font-weight: bold;
    width: 391px;
    height: 47px;
    background-color: darkolivegreen;
    margin-left: 25px;
    clear: both;

}

.weapon-field {
    display: flex;
    gap: 10px; 
}

.weapon-key {
    width: 130px;
    text-align: right;
    /* background-color: darkorange; */
}

.weapon-value {
    color: darkgray;
    width: 255px;
    text-align: left;
    /* background-color: darkblue; */
}

.zombie-kills-field {
    display: flex;
    gap: 10px; 
}

.zombie-kills-key {
    width: 130px;
    text-align: right;
}

.zombie-kills-value {
    color: darkgray;
    width: 255px;
    text-align: left;
}

.survival-time-field {
    display: flex;
    gap: 10px; 
}

.survival-time-key {
    width: 130px;
    text-align: right;
}

.survival-time-value {
    color: darkgray;
    width: 255px;
    text-align: left;
}

/* .bottom-left-info-container {
    background-color: gray;
    width: 130px;
    height: 47px;
    margin-left: 25px;
    margin-right: 10px;
    clear: left;
    float: left;
}

.bottom-right-info-container {
    background-color: greenyellow;
    width: 255px;
    height: 47px;
    clear: right;
    float: left;
} */


